body{
    
    background: rgb(255,251,226);
    background: linear-gradient(135deg, rgba(255,251,226,0.2) 0%, rgba(255,252,235,0.41) 32%, rgba(166,255,224,0.31) 16%, rgba(255,255,255,1) 100%);
}
.header{
    width: 100%;
    height: 100vh;

}
.card{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .23);
    cursor: pointer;
    /* user-select: none; */
    padding: 10px;
    margin: 20px 10px;
}

.card-timer span{
    color: red;
    font-weight: 600;
    padding: 5px;
}
.card-timer{
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 20px;
    color: red;

}

.card-title{
    color: navy;
    font-weight: bold;
}

/* 
.slide{
    width: 90%;
    height: 50vh;
    padding: 10px;
    margin: 20px;
    background-color: grey;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .23),0 6px 10px rgba(0, 0, 0, .23)
    ;
    border-radius: 10px;
} */

.lotiee{
    z-index: -999;
    width: 30%;
    height: 30%;
}


.card-2{
    /* background: #2F004F; */
    /* background: #031927; */
    background: #13293D;
    color:white;
}

.card-2 .card-timer{
    color: white;

}
.card-2 .card-title{
    color: white;
}

.card-2 i, .card-2 span{
    color: aliceblue;
}
h2{
    color: #00234e;
    font-weight: 700;
}
/* .card-2, .card-title{
    color: white;
} */




.card:hover{
    transform: scale(1.5);
    
}

hr{
width: 80%;
}

.hr{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hr .one, .two, .three{
    width: 8px;
    height: 8px;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}

.one{
background: #00234e;
}
.two{
    background: orangered;
}
.three{
    background: crimson;
}


.row{
    padding: 100px;
}

.card:hover{
    transform: translateY(20px);
    /* background: red; */
}