#button-linkedin, #button-twitter, #button-website{
  color:grey;
  
  font-size: 1.6rem;
}
#button-linkedin:hover{
  color: rgb(10, 102, 194);
   
  }
  #button-twitter:hover{
    color: rgb(29 ,161 ,242);
  }
  #button-website:hover{
  color:#61dafb
  }
  
#faculty-container{
  display: flex;
justify-content: center;
}

.card {
  width: 18rem;
  margin-inline: 3rem;
  border-radius: "1rem";
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.265);
}

.card> img{

  padding: 1.3rem;
  border-radius: 2rem; 

}
.card-title{
  margin-top: -1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: purple
}

.card-subtitle{
padding-top: 0.3rem;
padding-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}